.automizy-tagger-tag{
    margin: 0 8px 4px 0;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #b9b9b9;
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.automizy-tagger-tag-icon{
    color:#b9b9b9;
    vertical-align: middle;
    padding:5px;
}
.automizy-tagger-tag-content{
    vertical-align: middle;
    padding:5px;
    color:#555555;
    overflow: hidden;
    max-width: calc(100% - 56px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.automizy-tagger-tag-close{
    opacity:0.5;
    cursor:pointer;
    color:#b9b9b9;
    vertical-align: middle;
    padding:4px 5px 6px 5px;
}
.automizy-tagger-tag-close:hover{
    opacity:1;
}